/*Buttons*/
/* .ButtonConteiner {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
   width: 100%;
  height: 100vh; 
  font-family: "Poppins", sans-serif;
}  */

.Button {
  width: 100%;
  max-width: 467px;
  height: 60px;
  background-color: var(--cor-button-primary);
  color: var(--cor-button-google);
  border: none;
  border-radius: 35px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ButtonSecondary {
  width: 100%;
  max-width: 410px;
  height: 60px;
  background-color: var(--cor-button-primary);
  color: var(--cor-button-google);
  border: none;
  border-radius: 35px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ButtonThirty {
  width: 100%;
  max-width: 400px;
  height: 60px;
  background-color: var(--cor-button-primary);
  color: var(--cor-button-google);
  border: none;
  border-radius: 35px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ButtonFourth {
  width: 100%;
  max-width: 400px;
  height: 60px;
  background-color: var(--cor-button-primary);
  color: var(--cor-button-google);
  border: none;
  border-radius: 35px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ButtonFifth {
  width: 100%;
  max-width: 348px;
  height: 60px;
  background-color: var(--cor-button-excluir);
  color: var(--cor-button-google);
  border: none;
  border-radius: 35px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ButtonSixth {
  width: 100%;
  max-width: 185px;
  height: 58px;
  background-color: var(--cor-button-primary);
  color: var(--cor-button-google);
  border: none;
  border-radius: 35px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ButtonSeventh {
  width: 126.15px;
  height: 105px;
  background-color: var(--cor-button-primary);
  border: none;
  border-radius: 10px;
}

.ButtonUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 92px;
  background: #65b741;
  border-radius: 20px;
  border: none;
}

.ButtonEsc {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 528px;
  height: 172px;
  background: #65b741;
  border-radius: 20px;
  border: none;
}

/* .DivImage {
  display: grid;
  justify-content: space-evenly;
} */

.Scan {
  font-family: "Kantumruy";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 72px;
  color: #fbf6ee;
}

.ButtonDrone {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 528px;
  height: 172px;
  background: #65b741;
  border-radius: 20px;
  border: none;
}

.imgDrone {
  width: 209, 9px;
  height: 100px;
}

.ButtonConteiner {
  display: flex;
  justify-content: center;
}

.ButtonEscanear {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: sans-serif;
  transition: opacity 0.3s ease;
}

.ButtonEscanear:disabled {
  pointer-events: none;
}

.loader {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border: 3px solid #c3e6cb;
  border-top: 3px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.val {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background-image: url(/images/eos-icons_loading.png);
  border-radius: 50%;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ButtonEight {
  width: 150px;
  height: 45px;
  background-color: var(--cor-button-primary);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.volt {
  color: var(--text-cadastro);
  font-size: 20px;
}

.imgVolt {
  width: 50px;
  height: 30px;
}
