/* Início estilos gerais */

/* Importando fontes do Google Fonts (https://fonts.google.com) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* Estilos Gerais  */
  --cor-button-primary: #65B741; /* Button Primary*/
  --cor-button-secondary: #FBF6EE; /* Button Secundary */
  --cor-button-google:#FFFFFF;/*Button Color Google*/
  --cor-text-primary: #FFFFFF; /* Text Button Primary */
  --cor-text-secondary: #000000; /* Text Button Secundary */
  --cor-text-google:#000000;/*Text Button Google*/
  --cor-border-secondary:#49A010;/* Border Button Secundary */
  --cor-border-google: #677283;/* Border Button Google */
  --cor-conteiner: #FBF6EE; /* Cor do conteiner */
  --cor-input:#FBF6EE;/* Cor da input */
  --cor-radio: #49A010;/*Cor do radio button*/
  --text-cadastro: #FFFBF2;/*Cor do texto dos cadastros*/
  --cor-button-excluir:#EE2727;/*Cor do botão de excluir*/
  --cor-card: #FBF6EE; /*Cor dos cards*/
  --cor-interna-cards: #FFB534; /*Opacity cards*/
  /* Status  */
  --status-laranja:#FF5C00;
  --status-azul:#1400FF;
  --staus-cinza:#95969F;
  /* Legendas */
  --legenda-verm: #FF2318;
  --legenda-laraj: #FF7D00;
  --legenda-amar: #F2EF00;
  --legenda-verd-claro:#8CCA00;
  --legenda-verd-escuro:#116E1F;


}









/* Fim estilos gerais */

/* RESPONSIVIDADE */

@media (max-width: 768px) {
.title {
  font-size: 0.8rem;
}
}