.ContainerLabel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-card);
    border-bottom: 2px solid var(--cor-border-secondary);
    padding: 10px 20px;
    width: 400px;
    gap: 12px;
    flex-wrap: wrap;
}
